# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Testing / coverage
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

*.vim
